<!-- <footer class="page-footer center-on-small-only container-fluid" *ngIf="navbarFooterService.visibleFooter">
  <div class="container-fluid d-flex flex-row justify-content-between align-items-center">
    <div class="copyright-content">
      © 2019 Copyright:
      <a href="#"> Team 8 DACN </a><br>
      <i class="fa fa-info-circle"></i> Đồ án chuyên ngành eCommerce <br>
    </div>
    <div class="frontend-dev">
      <i class="fa fa-user"></i> Front End Dev <br>
      <a href="https://www.facebook.com/groups/298924384137067/" target="blank">Pham Nhat Truong - 15520953</a><br>
      <a href="https://www.facebook.com/groups/298924384137067/" target="blank">Nguyen Hoai Thanh Ngoc - 15520554</a><br>
    </div>
    <div class="backend-dev">
      <i class="fa fa-user"></i> Back End Dev <br>
      <a href="https://www.facebook.com/groups/298924384137067/" target="blank">Tran Trung Tien - 15520891</a><br>
      <a href="https://www.facebook.com/groups/298924384137067/" target="blank">Nghiem Quan Trung - 15520943</a><br>
    </div>
  </div>
</footer> -->
<footer class="section footer-classic context-dark bg-image" style="background: #2d3246;" *ngIf="navbarFooterService.visibleFooter">
  <div class="container">
    <div class="row row-30">
      <div class="col-md-4 col-xl-5">
        <div class="pr-xl-4"><a class="brand" href="index.html"><img class="brand-logo-light" src="images/agency/logo-inverse-140x37.png" alt="" width="140" height="37" srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a>
          <p>Web app + Docker</p>
          <p class="rights"><span>©  </span><span class="copyright-year">2019</span><span> </span><span>DACN</span><span>. </span><span>All Rights Reserved.</span></p>
        </div>
      </div>
      <div class="col-md-4">
        <h5>Contacts</h5>
        <dl class="contact-list">
          <dt>Address:</dt>
          <dd>UIT</dd>
        </dl>
        <dl class="contact-list">
          <dt>email:</dt>
          <dd><a href="mailto:#">dacnUIT@gmail.com</a></dd>
        </dl>
        <dl class="contact-list">
          <dt>phones:</dt>
          <dd>
            <a href="tel:#">0902924992</a>
          </dd>
        </dl>
      </div>
      <div class="col-md-4 col-xl-3">
        <h5>Links</h5>
        <ul class="nav-list">
          <li><a href="#">About</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contacts</a></li>
          <li><a href="#">Pricing</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row no-gutters social-container">
    <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-facebook"></span><span>Facebook</span></a></div>
    <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-instagram"></span><span>instagram</span></a></div>
    <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-twitter"></span><span>twitter</span></a></div>
    <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-youtube-play"></span><span>google</span></a></div>
  </div>
</footer>

