<br>
<section class="container">
  <div class="container mgBtn">
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-header">
          <h3>Reset password</h3>
        </div>
        <div class="card-body">
          <form #resetForm="ngForm" (ngSubmit)="updatePassword(resetForm)">
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-user"></i></span>
              </div>
              <input type="email" class="form-control" id="emailAddress" aria-describedby="emailHelp"
                placeholder="Enter your email" name="emailAddress" [(ngModel)]="user.emailAddress" mdbInputValidate
                [email]="true">
            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-key"></i></span>
              </div>
              <input type="password" class="form-control" id="newPassword" name="newPassword"
                autocomplete="current-password" [(ngModel)]="user.newPassword" placeholder="New Password">
            </div>
            <div class="form-group">
              <button type="submit" class="btn float-right login_btn" id="loginButton" mdbRippleRadius>Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br>
